@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fff;
  --secondary-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #fff;
    --secondary-color: #000;
  }
}

body {
  color: var(--secondary-color);
  background: var(--primary-color);
}

.petCard{
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}